*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    scroll-behavior: smooth;
    max-width: 100%;

}

/* Navegacion */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

button{
    background-color: rgb(14, 14, 81);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-color: rgb(14, 14, 81);
    border-radius: 20px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

button:hover{
    background: transparent;
}



div {
    display: flex;
    justify-content: start;
    padding: 10px;
    position: relative;
    color: rgb(237, 228, 228); 
}



nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav ul li a {
    border-radius: 50px;
    padding: 5px 10px;
    background-color: rgb(14, 14, 81);
    font-size: 18px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0,3, color 0.3s;
}



nav ul li a:hover{
    background: transparent;
}

/** Pantalla inicial **/

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center; 
    height: 500px;
    max-width: 100%;
    text-align: center;
}

.principal h2 {
    color: rgb(255, 255, 255);
    margin-top: 200px;
}

.principal p {
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.principal button {
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    height: 30px;
    width: 140px;
    background: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0,3, color 0.3s;
}

.principal button:hover{
    color: rgb(14, 14, 81);
}

/** Productos y descripcion **/

.articulo{
    background-image: url(../images/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.articulo h2{
    color: rgb(14, 14, 81);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.articulo h3{
    text-transform: uppercase;
    color: rgb(14, 14, 81);
    display: flex;
    justify-content: center;
    padding: 25px;
}

.articulo p{
    font-size: 13px;
    color: rgb(29, 29, 116);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}


.Info{
    height:500px ;
    background-image: url(../images/background3.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.Info h2{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: white;
}

.h4{
    padding-top: 20px;
    justify-content: center;
    gap: 50%;
}

.text{
    gap: 20%;
    padding: 20px;
}

/** Clientes **/

.clientes {
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.clientes h2 {
    color: rgb(14, 14, 81);
    padding-top: 3%;
}

.clientes img {
    width: 100%;  
    max-width: 700px; 
    height: auto;  
    object-fit: cover; 
    object-position: center;
    margin-top: 3%; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

/** Footer, direccion y contacto **/

#footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: transparent;
    padding: 20px;
    text-align: left;
    width: 100%;
    gap: 20px;
}

#footer h3 {
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 10px 0;
    border-radius: 20px;
    cursor: pointer;
}

#footer h3:hover {
    background: transparent;
}

#footer p {
    align-content: center;
    margin: 5px 20px;
    padding: 0;
    color: rgb(0, 0, 0);
}

/* pIE DE PAGINA */
@media (max-width: 768px) {
    #footer {
        padding: 15px;
        text-align: left;
    }

    #footer h3 {
        font-size: 18px;
        margin: 20px;
    }

    #footer p {
        font-size: 14px;
    }
}

/** Ultima pagina **/

.perfil {
    height: 1000px;
    margin: 100px 20px;
}

.formulario{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.formulario h2{
    color: black;
    margin-right: 50px;
}

.formulario h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 10px 0 ;
}

.formulario .enviar{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 20px;
    height: 25px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(14, 14, 81);
    transition: 0,3, color 0.3s;
}

.formulario .enviar:hover{
    background: transparent;
}

.formulario input{
    height: 25px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}

/** Menu hamburguesa **/

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Responsive */

@media (max-width: 960px) {
    nav ul.botones {
        display: none;
        flex-direction: column;
        background-color: rgb(14, 14, 81);
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border-radius: 10px;
        width: 200px;
    }

    nav ul.botones.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    nav ul li a {
        margin: 10px 0;
    }
}

#contacto {
    background-image: url(../images/background.png);
    color: white;
}

#nosotros{
    background-image: url(../images/background.png);
    color: white;
}

#servicios{
    background-image: url(../images/background.png) ;
    color: white;
}

#novedades{
    background-image: url(../images/background.png);
    color: white;
}

#somos section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}