#footer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
background-color: #1a1a1a;
color: #fff;
padding: 40px 20px;
gap: 10px;
}

#footer h3 {
color: #fff;
}

#footer p {
margin: 0;
color: #ccc;
}
