.articulo{
    background-image: url(../images/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.articulo h2{
    color: rgb(14, 14, 81);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.articulo h3{
    text-transform: uppercase;
    color: rgb(14, 14, 81);
    display: flex;
    justify-content: center;
    padding: 25px;
}

.articulo p{
    font-size: 13px;
    color: rgb(29, 29, 116);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}


.Info{
    height:500px ;
    background-image: url(../images/background3.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.Info h2{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: white;
}

.h4{
    padding-top: 20px;
    justify-content: center;
    gap: 50%;
}

.text{
    gap: 20%;
    padding: 20px;
}