.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center; 
    height: 500px;
    max-width: 100%;
    text-align: center;
}

.principal h2 {
    color: rgb(255, 255, 255);
    margin-top: 200px;
}

.principal p {
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.principal button {
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    height: 30px;
    width: 140px;
    background: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0,3, color 0.3s;
}

.principal button:hover{
    color: rgb(14, 14, 81);
}