
@media (max-width: 960px) {
    nav ul.botones {
        display: none;
        flex-direction: column;
        background-color: rgb(14, 14, 81);
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border-radius: 10px;
        width: 200px;
    }

    nav ul.botones.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    nav ul li a {
        margin: 10px 0;
    }
}